#body {
    background:black;
    color: white;
}

.navbar-dark {
    background-color: black;
    color: white;
}

 .col {
    padding: 5px;
    margin-top: 10px;
    border-radius: 25px;
    max-height: 700px;
    overflow-y: auto;
  
    
 }
 .row { 
    margin: 10px;
    padding: 5px;
    background-color: rgb(10, 10, 10);
    border-radius: 25px;
 }
