#body {
    background:black;
    color: white;
}

.navbar-dark {
    background-color: black;
    color: white;
}

 .col {
   
    max-height: 700px;
    overflow-y: auto;
 
 }
 .row { 
    margin: 10px;
    padding: 1px;
    background-color: rgb(10, 10, 10);
    border-radius: 25px;
 }

 .table td {
    position: relative;
    
    
 }